# Let's Use Pandas!

## What is Pandas?

Pandas, as [the Anaconda docs](https://docs.anaconda.com/anaconda/packages/py3.7_osx-64/) tell us, offers us "High-performance, easy-to-use data structures and data analysis tools." It's something like "Excel for Python", but it's quite a bit more powerful.

Let's first import pandas as pd.

In [9]:
import pandas as pd

Now read in the heart dataset.

Pandas has many methods for reading different types of files! Note that here we have a .csv file.

Read about this dataset [here](https://www.kaggle.com/ronitf/heart-disease-uci).

Notice the name of the last column!

In [10]:
!ls

heart.csv
LICENSE
pandas_intro.ipynb
pandas_intro_continued.ipynb
README.md
titanic.csv

In [11]:
heart = pd.read_csv('heart.csv')

The output of the `.read_csv()` function is a pandas *DataFrame*, which has a familiar tabaular structure of rows and columns.

Target is the thing you want to monitor based on a particular variable

In [12]:
heart

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

Two main types of pandas objects are the DataFrame and the Series, the latter being in effect a single column––*plus index*––of the former.

But Pandas is built on top of NumPy, and we can always access the NumPy array underlying a DataFrame using `.values`.

In [13]:
heart.values()

TypeError: 'numpy.ndarray' object is not callable

What does .head( ) do? What do you learn about the dataset by using it here?

In [14]:
heart.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

What about .tail( )? What about .info( ) and .describe( )?

In [15]:
heart.sample(2)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
122,41,0,2,112,268,0,0,172,1,0.0,2,0,2,1
253,67,1,0,100,299,0,0,125,1,0.9,1,2,2,0

In [16]:
heart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [17]:
heart.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

What can we figure out / guess about the different columns?

Let's check the data type of one of our columns:

In [18]:
heart.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [17]:
heart.dtypes #shows types of data for a data set

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

Notice how we can isolate a column of our DataFrame simply by using square brackets together with the name of the column!

## Adding to a DataFrame

Here are two rows that our engineer accidentally left out of the .csv file, expressed as a Python dictionary:

Keys are colum headers and values are missing entries
first entry in each list represents each row

In [19]:
extra_rows = {'age': [40, 30], 'sex': [1, 0], 'cp': [0, 0], 'trestbps': [120, 130],
              'chol': [240, 200],
             'fbs': [0, 0], 'restecg': [1, 0], 'thalach': [120, 122], 'exang': [0, 1],
              'oldpeak': [0.1, 1.0], 'slope': [1, 1], 'ca': [0, 1], 'thal': [2, 3],
              'target': [0, 0]}
extra_rows

{'age': [40, 30],
 'sex': [1, 0],
 'cp': [0, 0],
 'trestbps': [120, 130],
 'chol': [240, 200],
 'fbs': [0, 0],
 'restecg': [1, 0],
 'thalach': [120, 122],
 'exang': [0, 1],
 'oldpeak': [0.1, 1.0],
 'slope': [1, 1],
 'ca': [0, 1],
 'thal': [2, 3],
 'target': [0, 0]}

How can we add this to the bottom of our dataset?

In [21]:
# Let's first turn this into a DataFrame.
# We can use the .from_dict() method.
extras=pd.DataFrame().from_dict(extra_rows)
extras

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,40,1,0,120,240,0,1,120,0,0.1,1,0,2,0
1,30,0,0,130,200,0,0,122,1,1.0,1,1,3,0

In [24]:
# Now we just need to concatenate the two DataFrames together.
# Note the `ignore_index` parameter! We'll set that to True.

heart_augmented=pd.concat([heart,extras],ignore_index=True)

In [25]:
# Let's check the end to make sure we were successful!

heart_augmented.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0
303,40,1,0,120,240,0,1,120,0,0.1,1,0,2,0
304,30,0,0,130,200,0,0,122,1,1.0,1,1,3,0

How many different values does have slope have? What about sex? And target?

In [29]:
# .value_counts()

heart['slope'].value_counts()
#first colum= value you have 
#secounds colum= number of that value you have

2    142
1    140
0     21
Name: slope, dtype: int64

Let's add a new column to our dataset called "test". Set all of its values to 0.

In [31]:
heart['test'] = 0 #adds a colum

I can also add columns whose values are functions of existing columns.

How could I add a column, called 'twice_age', that is double the age column?

In [32]:
heart.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,test
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1,0
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1,0
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1,0
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1,0
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1,0

In [35]:
heart['twice_age']=heart['age']*2
heart

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,test,twice_age
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1,0,126
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1,0,74
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1,0,82
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1,0,112
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1,0,114
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0,0,114
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0,0,90
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0,0,136
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0,0,114
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0,0,114

## Filtering

We can use filtering techniques to see only certain rows of our data. If we wanted to see only the rows for patients 70 years of age or older, we can simply type:

In [36]:
heart[heart['age'] >= 70]

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,test,twice_age
25,71,0,1,160,302,0,1,162,0,0.4,2,2,2,1,0,142
60,71,0,2,110,265,1,0,130,0,0.0,2,1,2,1,0,142
129,74,0,1,120,269,0,0,121,1,0.2,2,1,2,1,0,148
144,76,0,2,140,197,0,2,116,0,1.1,1,0,2,1,0,152
145,70,1,1,156,245,0,0,143,0,0.0,2,0,2,1,0,140
151,71,0,0,112,149,0,1,125,0,1.6,1,0,2,1,0,142
225,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0,0,140
234,70,1,0,130,322,0,0,109,0,2.4,1,3,2,0,0,140
238,77,1,0,125,304,0,0,162,1,0.0,2,3,2,0,0,154
240,70,1,2,160,269,0,1,112,1,2.9,1,1,3,0,0,140

Use '&' for "and" and '|' for "or".

In [19]:
# Display the patients who are 70 or over as well as the patients whose
# trestbps score is greater than 170.
heart[heart['age'] >=70] | heart[heart['trestbps'] >= 170] 
#| straight stnading up line means or

TypeError: unsupported operand type(s) for |: 'float' and 'bool'

## .loc( ) and .iloc( )

We can use .loc( ) to get, say, the first ten values of the age and trestbps columns:

In [46]:
heart.loc[:9, ['age', 'trestbps']]

   age  trestbps
0   63       145
1   37       130
2   41       130
3   56       120
4   57       120
5   57       140
6   56       140
7   44       120
8   52       172
9   57       150

.iloc() is used for selecting locations in the DataFrame **by number**:

In [47]:
heart.iloc[3, 0]
#third row and 0 colum and give value

56

In [50]:
# How would we get the same slice as just above by using .iloc() instead of .loc()?

heart.iloc[:10, [0,3]]

   age  trestbps
0   63       145
1   37       130
2   41       130
3   56       120
4   57       120
5   57       140
6   56       140
7   44       120
8   52       172
9   57       150

## Statistics

I can use methods like `.mean()`, `.min()`, `.max()` to calculate quick statistics.

In [51]:
heart.min()

age           29.0
sex            0.0
cp             0.0
trestbps      94.0
chol         126.0
fbs            0.0
restecg        0.0
thalach       71.0
exang          0.0
oldpeak        0.0
slope          0.0
ca             0.0
thal           0.0
target         0.0
test           0.0
twice_age     58.0
dtype: float64

I can also sort the values in a column by using `.sort_values()`

In [54]:
heart['age'].sort_values(ascending=False)

238    77
144    76
129    74
151    71
60     71
       ..
65     35
239    35
125    34
58     34
72     29
Name: age, Length: 303, dtype: int64

In [53]:
heart.max()

age           77.0
sex            1.0
cp             3.0
trestbps     200.0
chol         564.0
fbs            1.0
restecg        2.0
thalach      202.0
exang          1.0
oldpeak        6.2
slope          2.0
ca             4.0
thal           3.0
target         1.0
test           0.0
twice_age    154.0
dtype: float64

## Let's find a .csv file online and experiment with it.

I'm going to head to dataportals.org to find a .csv file.

In [ ]:
aa_construct=pd.read_csv('/users/jstep')

## Your turn!